[user]
	email = th3fanbus@gmail.com
	name = Angel Pons
[pull]
	rebase = true
[merge]
	tool = meld
[color]
	ui = auto
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
[init]
	defaultBranch = master
